@font-face {
    font-family: "ProximaNova-Regular";
    font-display: swap;
    src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "ProximaNova-Bold";
    font-display: swap;
    src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "ProximaNova-SemiboldIt";
    font-display: swap;
    src: url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "ProximaNovaCond-Bold";
    font-display: swap;
    src: url("../fonts/ProximaNovaCond-Bold.woff") format("woff"), url("../fonts/ProximaNovaCond-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "ProximaNovaCond-Regular";
    font-display: swap;
    src: url("../fonts/ProximaNovaCond-Regular.woff") format("woff"), url("../fonts/ProximaNovaCond-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}